nav {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.flash {
  list-style: none;
  padding-left: 0;
}

.flash li {
  width: auto;
  padding: 0.5rem;
  border: solid 1px;
  border-radius: 5px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  border-top-color: #c9e2b3;
  /* color: #2b542c; */
  box-shadow: 2px 2px #000;
  font-size: 0.7em;
}

@media screen and (min-width: 1024px){
  html{
    font-size: 1.5em;
  }
}
