body{
	background-color: #15034f;
}
.box {
	display: flex;
	padding: 1rem;
	flex-direction: column;
	align-items: center;
}
.box img{
	align-self: center;
	max-height: 250px;
}
.box form{
	margin-left: auto;
	margin-right: auto;
	padding: 0.4rem;
	display: flex;
}

.user {
	padding: 0.4rem;
	font-size: 1em;
	border-radius: 10px;
	border: solid 1px #000;
}

button {
	border: solid 1px #000;
	margin-left: 10px;
	border-radius: 10px;
}
