body{
    background-color: #15034f;
}

.box {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.trocar_usuario {
    font-size: 1.25em;
    background-color: #cccccc;
    border: solid 1px #000 ;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 1em;
    box-shadow: 2px 2px #000;
}


.imagem_chat {
    display: block;
    padding: 20px;
    max-width: 250px;
    max-height: 250px;
    margin-left: auto;
    margin-right: auto;
}

.chat {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    border: solid 1px #aaa;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 20px;
}
.chat span ~ span{
    margin-top: 20px;
}

.chat .message, .message_mine{
    border-radius: 20px 20px 10px 20px ;
    position: relative;
    padding: 10px;
    box-sizing: content-box;
    overflow: hidden;
    text-overflow: clip;
    box-shadow: 2px 2px #000;
}
.message + .message, .message_mine + .message_mine{
    margin-top: 5px;
    border-radius: 20px 10px 10px 20px ;
}

.chat .message{
    background-color: #ffc4d8;
}

.chat .message_mine{
    background: #cccccc;
}

.chat strong {
    text-transform: capitalize;
}

.chat .time{
    font-size: 0.5em;
    opacity: 0.8;
}

.inputs {
    display: flex;
    flex-direction: row;
    padding: 10px 30px;
}

.inputs form{
    display: flex;
    width: 100%;
}

.inputs input {
    padding: 10px;
    font-size: 2em;
    border-radius: 15px 0 0 15px;
    box-shadow: 2px 2px #000;
    border: solid 3px #ab212e;
    width: 95%;
}


.inputs button{
    box-shadow: 2px 2px #000;
    border-radius: 0 15px 15px 0;
    border: solid 3px #ab212e;
    border-left: none;
    background-color: #ab212e; /* achar cor melhor  */

}

