body{
    background-color: #15034f;
}
.trocar_usuario {
    color: #15034f;

}

.box {
    margin-left: 10px;
}

.imagem_chat {
    padding: 20px;
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 250px;
    border-radius: 50px;
    margin-left: 430px;
}

.chat {
    width: 1270px;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    border: solid 1px #333333;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.chat .message, .message_mine{
    margin-top: 25px;
    width: 1100px;
    height: 50px;
    border-radius: 9px ;
    position: relative;
    padding: 10px;
    box-sizing: content-box;
    overflow: hidden;
    text-overflow: clip;
}

.chat .message{
    background-color: #ffc4d8;
}
.chat .message_mine{
    background: #cccccc;
}

.chat .message:after{
    content: "";

    width: 0;
    height: 0;

    position: absolute;

    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 22px solid #ffc4d8;
    bottom: -20px;
    left: 0.8%;
}
.chat .message_mine:after{

    content: "";

    width: 0;
    height: 0;

    position: absolute;

    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 22px solid #cccccc;
    bottom: -20px;
    right: 0.8%;
}

.chat strong {
    text-transform: capitalize;
}

.chat .time{
    font-size: 0.5em;
}

.inputs {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.inputs input {
    width: 1100px;
    right: 50px;
    padding: 10px;
    margin-left: 15px;
    margin-right: 10px;
    font-size: 1.5em;
    border-radius: 9px ;
}

