<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Chat da Lotus</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta name='viewport' content='width=device-width, initial-scale=.65, maximum-scale=.65, user-scalable=0'/>
        <!-- <meta name='viewport' content='width=device-width, initial-scale=1.0'/> -->
        
        <link rel="shortcut icon" type="imagex/png" href="{{ url_for('static', filename='lotus_chat.ico') }}">
    </head>

    <body>
        <div class="box">
            <img class="imagem_chat" src="{{ url_for('static', filename='lotus_logo.png') }}">
            <a href="{{ url_for('trocar_usuario') }}" ><button class="trocar_usuario">Trocar usuario</button></a>
            <div class="chat" >
            {% for mensagem in mensagems %}
            {% if mensagem.nome == session.user %}
                <span class="message_mine"><strong>{{mensagem.nome}}:</strong>
                    {{mensagem.message}} <span class="time">{{mensagem.time}}</span></span>
            {% else %}
                <span class="message"><strong>{{mensagem.nome}}:</strong>
                    {{mensagem.message}} <span class="time">{{mensagem.time}}</span></span>
            {% endif %}
            {% endfor %}

            </div>
            <div class="inputs">
                <form  id="chat">
                    <input type="hidden" value="{{ session.user }}">
                    <input type="text" placeholder="Insira sua mensagem" autofocus required>
                    <button type="submit">Enviar</button>
                </form>

            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
        <script type="text/javascript">
            {% include "socket_script.js" %}
        </script>
    </body>
</html>
