<html>
    <head>
        <meta charset="UTF-8">
        <meta name='viewport' content='width=device-width, initial-scale=0.5, maximum-scale=0.5, user-scalable=0'/>
        <title>Login admin</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
        <!-- <meta name="viewport" content="width=device-width"> -->
        
    </head>

    <body>
        <div class="box">
            <img src="{{ url_for('static', filename='chat_login.png') }}" alt="chat_login">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flash>
                {% for message in messages %}
                    <li class="flash">{{ message }}</li>
                {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            <form method="POST" action="{{ url_for('autenticar_admin') }}" >
                <input class="user" placeholder="insira seu usuario" name="usuario" value="Lotús Hall">
                <input class="user" placeholder="insira sua senha" name="senha" type="password">
                <button type="submit">enviar</button>
            </form>
        </div>
    </body>
</html>
